html,body{padding:0px; margin:0px;font-size:14px;line-height:3em;font-family:Arial, Helvetica, sans-serif; }
a,a:visited{text-decoration:none;color: }
a:hover{text-decoration:none;color: }
*{word-wrap: break-word;padding:0px; margin:0px;}
.clear{clear:both;}
ul,li {list-style-type:none;}
/*---main---*/
#footer{background:url("../images/bottom_bg_top.jpg") top center repeat-x #509e91;padding-top:130px;padding-bottom:84px;text-align:center;color:#fff;}

#main{width:1000px;margin:0 auto;}
h1{float:left;}
.icons{float:right;margin-top:50px;}

#nav{background:url("../images/nav_bg.jpg") left center repeat-x;position:absolute;width:1000px;height:42px;}
.nav_bg_left{position:relative;top:-1px;left:-20px;width:40px;height:63px;float:left;}
.nav_bg_right{position:relative;top:-1px;right:-20px;width:40px;height:63px;float:right;}

.navlist{width:550px;float:left;}
.navlist li{display:inline;}
.navlist li a{color:#fff;padding:13px 25px;}
.navlist li a:hover{background:#3c8579;}
.navlist li a.on{background:#3c8579;}

.search{width:220px;float:left;margin-left:150px;}
input.text{border:1px solid #2f8275;background:#44867b;padding:3px 4px;width:174px;height:16px;}
input.submit{background:url("../images/search.jpg") right top no-repeat;border:0 none;width:33px;height:22px;cursor:pointer;}


#center{margin-top:42px;}
.topbanner{border:1px solid #d1d1d1;height:126px;}

.title{border-bottom:1px solid #297e70;}
.title img{margin-bottom:-20px;}
.boxinfo{padding:20px;}
.textimg img{border:1px solid #d1d1d1;padding-top:5px;padding-left:5px;}

.contactleft{width:450px;float:left;border-right:1px solid #3d9898;padding-right:30px;margin-right:50px;padding-top:50px;margin-bottom:200px;}
.contacttitle{background:url("../images/title3.jpg") left top no-repeat;width:151px;height:35px;line-height:35px;text-align:center;font-size:16px;color:#fff;}
.contactright{width:400px;float:right;margin-right:20px;margin-top:100px;margin-bottom:200px;}
.contactright input{padding:3px 5px;border:1px #bfbfbf solid;width:300px;height:30px;float:right;margin-bottom:10px;}
.contactright textarea{padding:3px 5px;border:1px #bfbfbf solid;width:300px;float:right;margin-bottom:10px;}
input.contactsubmit{float:right;width:120px;text-align:center;border:1px #bfbfbf solid;background:#fff;}


.iconlist{text-align:center;}
.iconlist span{margin:0 5px;}
.slogan{border-top:1px #2d7368 solid;border-bottom:1px #2d7368 solid;padding:20px 10px 10px 20px;}

.worksbox{margin:20px 0;}
.worksbox ul{margin-bottom:20px;}
.worksbox ul li{float:left; }
.worksbox ul li a{display:block;padding:7px;border:1px solid #afcac6;width:302px;height:388px;}

.showmore{background:url("../images/title3.jpg") left top no-repeat;text-align:center;color:#fff;width:151px;height:35px;font-size:20px;line-height:35px;float:right;margin:30px 0;}
.workslistnumber span a{padding:5px 8px;border:1px solid #62a79c;color:#62a79c;margin:0 4px;}
.workslistnumber span a:hover{background:#62a79c;color:#fff;}
.workslistnumber{text-align:center;}