@charset "utf-8";



*{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif}
.clear{clear:both}


body{
    overflow: auto;
    height: 100%;
}

div#mainnav{
    display:block;
    overflow:auto;
    background-color:white;
    position:fixed;
    z-index:99;
    top:0%;
    left:0%;
    width:100%;
    border-bottom:1px solid black;
}

div#mainnav ul {
    display:block;
    overflow:auto;
    text-decoration:none;
    width:860px;
    margin-left:180px;
}


div#mainnav ul li{
    display:block;
    float:left;
    margin:0px 10px;
}

div#mainnav ul li a{
    display:block;
    font-size:21px;
    text-decoration:none;  
    padding:12px;
    color:#151515;
}

div#mainnav ul li a:hover{
    color:white;   
}

div#logohome{
     position:fixed;
    z-index:100;
    top:-10px;
    left:40px;
    width:100px;
}

div#logohome img{
    position:fixed;
    z-index:100;
    top:-10px;
    width:115px;
    height:115px;
    margin:0px;
}

a#learnlink:hover{
    background-color:#FB505C;
}

a#worklink:hover{
    background-color:#50ABBD;
}

a#teamlink:hover{
    background-color:#534966;   
}

a#joinlink:hover{
    background-color:#006442;    
}

a#contactlink:hover{
  background-color:#FFA400;   
}

a#eventslink:hover{
  background-color:#1F69C1;   
}

div.mainbannerdark{
    border-top:10px solid #393737;   
    border-bottom:10px solid #393737;   
}

div.mainbannerpurple{
    border-top:10px solid #3A243B;
    border-bottom:10px solid #3A243B;
}

div.mainbannerblue{
    border-top:10px solid #026AA7;
    border-bottom:10px solid #026AA7;
}

div.mainbannergreen{
    border-top:10px solid #88B313;
    border-bottom:10px solid #88B313;
}

div.mainbannerlightblue{
    border-top:10px solid #3EC9CB;
    border-bottom:10px solid #3EC9CB;
}

div.mainbannerorange{
    border-top:10px solid #F6B33C;
    border-bottom:10px solid #F6B33C;
}

div.mainbannerred{
    border-top:10px solid #D64533;
    border-bottom:10px solid #D64533;
}

div#mainbanner{
    margin-top:47px;
    position:relative;
    z-index:0;
}

div#mainbanner img{
    height:280px;
    width:100%;
}

div#mainbanner blockquote{
    background-image:url("../images/dark_transparent_tile.png");
    position:absolute;
    top:0px;
    color:white;
    height:280px;
    width:100%;
    text-align:center;
    font-weight:bold;
    font-family:arial,helvetica, sans-serif;
}

div#mainbanner blockquote p{
    display:block;
     font-size:86px;
    font-weight:bold;
    padding:72px;
}

div#main{
    display:block;
    overflow:auto;
    width:100%;   
}

#footer{
    display:block;
    overflow:auto;
    text-align:center;
    background-color: brown;
    color: white;
    width: 100%;
}

#footer p{
    text-align: center; 
    display: block;
}

div#footer_icons{
    margin:0px;
    float:left;
}