div#workmain{
    width:80%;
    margin:0 auto;
    border-left:1px solid silver;
    border-right:1px solid silver;
}

div#workmaintxt{
    width:800px;
    margin:5px auto;
    line-height:1.5;
}

div#workmaintxt p{
    margin-top:15px;
}

div#workmaintxt ul{
    margin:21px 0;   
}

div#workmaintxt ul li{
    margin:10px 5px;   
}

div#workmaintxt h2{
    padding:45px 10px;
    background-image:url("../images/work.jpg");  
    color:white;
    font-size:36px;
}